.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: #fffcfc;
     /* 设置 header 的最小高度为 50 像素 */
     height: 70px; 
     position: relative;
}
.nav-section {
    flex: 2;
    margin-left: 0px; /* Space between text and image */
}
.nav-item {
    text-decoration: none;
    color: #000000;

}
.image-section {
    margin-left: 70px;
    flex: 1;
}

.logo {
    margin-top: -50px;
    height: 40px; /* Adjust the height as needed */
    width: auto; /* Keeps the aspect ratio intact */
}
